$size: 600px;
$height: 6.7rem;
$message-height: 240px;

$font-size: 13px;
$border-radius: 3px;
$padding: 12px;

$color-main: #4b8bf4;
$color-background: #ffffff;
$color-white: #ffffff;
$color-gray: #848484;
$color-gray-dark: #777777;
$color-dark: #222222;
$color-red: #FF003C;
